<div class="container banner">
	<div class="bannerquote container">
	<p>NYC STARTUPS: GET INVOLVED</p>
	</div>
</div>
<% @events.each do |i| %>
<%if DateTime.now.beginning_of_day < i.date && i.cost <= 50 %>
<% if i.cost == 0 %>
	<%cost = "FREE" %>
<%else%>
	<% cost = "$#{i.cost}" %>
<%end%>
<div class="events container" onclick="window.location = '/events/<%= i.id%>'">
	<div class="event">
		<div class="event-inner">
					<strong class="PriceContainer"><strong class="pricee"><%=cost%></strong></strong>
			<div class="calendar">
				<div class="month">
					<p class="center"><%= i.date.strftime("%b")%></p>
				</div>
				<div class="day center">
					<h1><%= i.date.strftime("%d")%></h1>
					<h4><%= i.date.strftime("%A")%></h4>
				</div>
			</div>
			<div class="title-description">
				<div class="title">
					<h1><%= link_to i.title, i %></h1>
				</div>
				<div class="short-description">
					<p><%= i.shortdescription %></p>
				</div>
			</div>
			<div class="time-price">
				<div class="time">
					<h3 class="center"><%= i.date.strftime("%I:%M %p").downcase %></h3>
				</div>
				<div class="price">
					<h3 class="center"></h3>
				</div>
			</div>
		</div>
	<%if i.course == true %>
	</div>
		<div class="tags">
			<h4>Class<h4>
	</div>
	<%end%>
</div>
</div>
</a>
<%end%>
<%end%>