<div class="container">
<br>
<h1 class="center"> ADD NEW EVENT</h1>
<hr>
<br>
<div class="row">
	<div class="span5">
	<%= form_for(@event) do |f| %> 
		<%= f.label :title %>
		<%= f.text_field :title, :class => 'title_input' %> 
	</div>
	<div class="span2">

		<%= f.label :cost %>
		<%= f.text_field :cost, :class => 'cost_input' %>

	</div>

	<div class="span5">
		<%= f.label :url %>
		<%= f.text_field :url, :class => 'url_input'  %> 
	</div>
</div>
<hr>
<div class="row">
	<div class="span3">
		<%= f.label "START DATE:" %>
		<%= f.datetime_select :date, :order => [ :month, :day, :year], :ampm => true, :minute_step => 5, :size => 5, :datetime_separator => "<br /> Start Time: <br />", :time_separator => "", :class => 'date_input'%>
	</div>
	<div class="span3">
		<%= f.label "End Date:" %>
		<%= f.datetime_select :enddate, :order => [ :month, :day, :year], :ampm => true, :minute_step => 5, :size => 5, :datetime_separator => "<br /> End Time: <br />", :time_separator => "", :class => 'date_input'%>
	</div>
<div class="span3">
	<%= f.label :venue %>
	<%= f.text_field :venue %> 

	<%= f.label "Street Address" %>
	<%= f.text_field :address1 %> 

	<%= f.label "Suite (optional)" %>
	<%= f.text_field :address2 %> 
</div>
<div  class="span3">
	<%= f.label :city %>
	<%= f.text_field :city%> 

	<%= f.label :state %>
	<%= f.text_field :state, :value => "NY" %>

	<%= f.label :country %>
	<%= f.text_field :country, :value => "United States"  %> 
</div>
</div>
<hr>
<div class="row">
	<div class="span4">
	<%= f.label "Short Description" %>
	<%= f.text_area :shortdescription, :class =>'short_description'  %> 
	</div>
	<div class="span8">
	<%= f.label :description %>
	<%= f.text_area :description, :class =>'long_description' %>
	</div>
</div>
<hr>
<div class="row">
	<div class="span2 center">
	<h1>Class</h1>
	<%= f.label :course, image_tag("/assets/pencil.png") %>
	<%= f.check_box :course %>
	</div>
	<div class="span2 center">
	<h1>Food</h1>
	<%= f.label :food, image_tag("/assets/restaurant.png") %>
	<%= f.check_box :food %>
	</div>
	<div class="span2 center">
	<h1>Speaker</h1>
	<%= f.label :speaker, image_tag("/assets/microphone.png") %>
	<%= f.check_box :speaker %>
	</div>
	<div class="span3 center">
	<h1>Coctails/Party</h1>
	<%= f.label :party, image_tag("/assets/cocktail.png") %>
	<%= f.check_box :party %>
	</div>
	<div class="span2 center">
	<h1>Hackathon</h1>
	<%= f.label :hackathon, image_tag("/assets/laptop.png") %>
	<%= f.check_box :hackathon %>
</div>
</div>

	<hr>
	
<div class="row">
	<div class="span12 center">
	<%= f.submit "Update", class: "btn btn-large btn-danger" %> 
	<% end %>
</div>
</div>
</div>

