<div class="container">
<h1 class="center"> ADD NEW EVENT</h1>
<div class="span6">
<%= form_for(@event) do |f| %> 
	<%= f.label :title %>
	<%= f.text_field :title, :size => 20, :class => 'title_input' %> 

	<%= f.label "Date:" %>
	<%= f.datetime_select :date, :order => [ :month, :day, :year], :ampm => true, :minute_step => 5, :size => 5, :datetime_separator => "<br /> Time: <br />", :time_separator => "", :class => 'date_input'%>


	<%= f.label :url %>
	<%= f.text_field :url %> 

	<%= f.label :cost %>
	<%= f.text_field :cost %>
</div>
<div class="span5">

	<%= f.label :venue %>
	<%= f.text_field :venue %> 

	<%= f.label "Street Address" %>
	<%= f.text_field :address1 %> 

	<%= f.label "Suite (optional)" %>
	<%= f.text_field :address2 %> 

	<%= f.label :city %>
	<%= f.text_field :city%> 

	<%= f.label :state %>
	<%= f.text_field :state, :value => "NY" %>

	<%= f.label :country %>
	<%= f.text_field :country, :value => "United States"  %> 
</div>
	<%= f.label :shortdescription %>
	<%= f.text_area :shortdescription, :class =>'short_description'  %> 

	<%= f.label :description %>
	<%= f.text_area :description, :class =>'long_description' %>

	<h1>Class</h1>
	<%= f.label :course, image_tag("/assets/pencil.png") %>
	<%= f.check_box :course %>

	<hr>
	<h1>Food</h1>
	<%= f.label :food, image_tag("/assets/restaurant.png") %>
	<%= f.check_box :food %>

	<hr>
	<h1>Speaker</h1>
	<%= f.label :speaker, image_tag("/assets/microphone.png") %>
	<%= f.check_box :speaker %>

	<hr>
	<h1>Coctails/Party</h1>
	<%= f.label :party, image_tag("/assets/cocktail.png") %>
	<%= f.check_box :party %>

	<hr>
	<h1>Hackathon</h1>
	<%= f.label :hackathon, image_tag("/assets/laptop.png") %>
	<%= f.check_box :hackathon %>

	<hr>

	<br />
	<br />
	

	<%= f.submit "Create my account", class: "btn btn-large btn-primary" %> 
	<% end %>
</div>