<div class="container">
<h1 class="center"> ADD NEW EVENT</h1>
<div class="span6">
<%= form_for(@event) do |f| %> 
	<%= f.label :title %>
	<%= f.text_field :title, :size => 20, :class => 'title_input' %> 

	<%= f.label "Date:" %>
	<%= f.datetime_select :date, :order => [ :month, :day, :year], :ampm => true, :minute_step => 5, :size => 5, :datetime_separator => "<br /> Time: <br />", :time_separator => "", :class => 'date_input'%>


	<%= f.label :url %>
	<%= f.text_field :url %> 

	<%= f.label :cost %>
	<%= f.text_field :cost %>
</div>
<div class="span5">

	<%= f.label :venue %>
	<%= f.text_field :venue %> 

	<%= f.label "Street Address" %>
	<%= f.text_field :address1 %> 

	<%= f.label "Suite (optional)" %>
	<%= f.text_field :address2 %> 

	<%= f.label :city %>
	<%= f.text_field :city%> 

	<%= f.label :state %>
	<%= f.text_field :state, :value => "New York" %>

	<%= f.label :country %>
	<%= f.text_field :country, :value => "United States"  %> 
</div>

	<%= f.label :shortdescription %>
	<%= f.text_area :shortdescription, :class =>'short_description'  %> 

	<%= f.label :description %>
	<%= f.text_area :description, :class =>'long_description' %>

	<%= f.label :course %>
	<%= f.check_box :course %>

	<br />
	<br />
	

	<%= f.submit "Create my account", class: "btn btn-large btn-primary" %> 
	<% end %>
</div>