<% provide(:title, "#{@event.title}") %>

<div class="container">
	<div class="title_eventpage center">
		<b><%= @event.title %></b>
	</div>
	<div class="costbox_eventpage">
		<div class="costicon_eventpage">
		</div>
		<div class="cost_eventpage">
			<%if @event.cost == 0%>
				<%= "FREE" %>
			<%else%>
				<%=@event.cost%>
			<%end%>
		</div>
	</div>
	<div class="map_eventpage">
		<img src="https://maps.googleapis.com/maps/api/staticmap?center=<%="#{@event.address1},#{@event.city}, #{@event.state}"%>&zoom=13&size=350x300&markers=<%="#{@event.address1},#{@event.city},#{@event.state}"%>&sensor=false"> 
		<br> 
		<a href="http://www.google.com/calendar/event?
		action=TEMPLATE
		&text=<%="#{@event.title}"%>
		&dates=<%="#{@event.date.strftime("%Y%m%dT%H%M%S")}/#{@event.date.strftime("%Y%m%dT%H%M%S")}"%>
		&location=<%="#{@event.venue} #{@event.address1}, #{@event.city}, #{@event.state}"%>
		&details=<%="http://www.startupthecity.com/events/#{@event.id}"%>
		&trp=false
		&sprop=LINK TO LMS GIG PAGE
		&sprop=name:LEEDS MUSIC SCENE" target="_blank" class="export_eventpage">Export</a>

		<%= link_to "Directions", "https://maps.google.com/maps?hl=en&q=#{@event.address1},#{@event.city},#{@event.state}&ie=UTF-8&hq=&hnear=0x89c25901ae3a7dfb:0x668d9dc3684d7119,#{@event.address1}, #{@event.city}, #{@event.state}&gl=us&ei=yZzOUK6BEeu00AGHrIDwBw&ved=0CDIQ8gEwAA", :class => "directions"%>
	</div>
	<div class="datebox_eventpage">
		<div class="calendaricon_eventpage">
		</div>
		<div class="date_eventpage">
			<%=@event.date.strftime("%A, %B %d")%>
		</div>
	</div>
	<div class="timebox_eventpage">
		<div class="clockicon_eventpage">
		</div>
		<div class="time_eventpage">
			<%=@event.date.strftime("%I:%M%p")%>
		</div>
	</div>
	<div class="wherebox_eventpage">
		<div class="whereicon_eventpage">
		</div>
		<div class="where_eventpage">
			<%=	@event.venue%>
			<br />	
			<%=@event.address1%>, 
			<%=@event.address2%>
			<%=@event.city%>, <%= @event.state%>, <%= @event.country%>
		</div>
	</div>
	<div class="description_eventpage">
	<%=simple_format(@event.description)%>
	</div>
	<div class="submit_button">
		<h1 class="center">
			<%= link_to "JOIN EVENT!", "#{@event.url}?ref=startupthecity", :class => "btn btn-large btn-primary"%>
		</h1>
	</div>
</div>
<a href="https://twitter.com/share" class="twitter-share-button" data-url=<%="http://www.startupthecity.com/events/#{@event.id}"%> data-via="startupthecity" data-lang="en" data-text="I'm attending '<%= @event.title %>'">Tweet</a>

<a href="https://www.facebook.com/dialog/feed?
  app_id=100004860452494&
  link=https://developers.facebook.com/docs/reference/dialogs/&
  picture=http://fbrell.com/f8.jpg&
  name=Facebook%20Dialogs&
  caption=Reference%20Documentation&
  description=Using%20Dialogs%20to%20interact%20with%20users.&
  redirect_uri=https://mighty-lowlands-6381.herokuapp.com/">Face</a>



<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div class="fb-like" data-href=<%="http://www.startupthecity.com/events/#{@event.id}"%> data-send="true" data-width="450" data-show-faces="true"Tit></div>







<!-- <div class="event-title container">
	<div class="row center">
		<b><%= @event.title %></b>
	</div>
</div>
<div class="container">
	<div class="when-box">
		<div class="when-left">
			When
		</div>
		<div class="when-date">
			<%=@event.date.strftime("%B %d, %I:%M%p")%>
		</div>
		<div class="export">
			Export to calendar: Google | Yahoo | Outlook
		</div>
	</div>
	<div class="where-box">
		<div class="where-left">
			Where
		</div>
		<div class="where-address">
			<%=	@event.venue%>
			<br />
			<%=@event.address1%>, 
			<%=@event.address2%>
			<br />
			<%=@event.city%>, <%= @event.state%>, <%= @event.country%>
		</div>
		<div class="map">
		</div>
	</div>
	<div class="description-box">
		<div class="description-left">
			Description
		</div>
		<div class="description-text">
			<%= simple_format(@event.description) %>
		</div>
	</div>
	<div class="submit_button">
		<h1 class="center">
			<%= link_to "JOIN EVENT!", "#{@event.url}?ref=startupthecity", :class => "btn btn-large btn-primary"%>
		</h1>
	</div>
</div>

<img src="https://maps.googleapis.com/maps/api/staticmap?center=<%="#{@event.address1}+#{@event.address2}+#{@event.city}+#{@event.state}".parameterize%>&zoom=13&size=300x300&markers=<%="#{@event.address1}+#{@event.address2}+#{@event.city}+#{@event.state}".parameterize%>&sensor=false">



<a href="http://www.google.com/calendar/event?
action=TEMPLATE
&text=<%="#{@event.title}"%>
&dates=<%="#{@event.date.strftime("%Y%m%dT%H%M%S")}/#{@event.date.strftime("%Y%m%dT%H%M%S")}"%>
&location=<%="#{@event.venue} #{@event.address1}, #{@event.city}, #{@event.state}"%>
&details=<%="http://www.startupthecity.com/events/#{@event.id}"%>
&trp=false
&sprop=LINK TO LMS GIG PAGE
&sprop=name:LEEDS MUSIC SCENE




" target="_blank">Google</a>

 -->