<% provide(:title, "#{@event.title}") %>
<% provide(:url, "http://www.startupthecity.com/events/#{@event.id}") %>

<%address = "#{@event.venue},#{@event.address1},#{@event.city},#{@event.state}" %>

<!--****************************************
*******START GOOGLE MAPS JAVASCIPT******
****************************************
-->
<script>
  var geocoder;
  var map;
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var mapOptions = {
      zoom: 13,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    var address = "<%= address %>";
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }

  </script>
<!--****************************************
*******END GOOGLE MAPS JAVASCIPT********
****************************************
-->


<div class="container">
	<div class="title_eventpage center">
		<b><%= @event.title %></b>
	</div>
	<div class="costbox_eventpage">
		<div class="costicon_eventpage">
		</div>
		<div class="cost_eventpage">
			<%if @event.cost == 0%>
				<%= "FREE" %>
			<%else%>
				<%=@event.cost%>
			<%end%>
		</div>
	</div>
	<div class="datebox_eventpage">
		<div class="calendaricon_eventpage">
		</div>
		<div class="date_eventpage">
			<%=@event.date.strftime("%A, %B %d")%>
		</div>
	</div>
	<div class="timebox_eventpage">
		<div class="clockicon_eventpage">
		</div>
		<div class="time_eventpage">
			<%=@event.date.strftime("%I:%M%p")%>
		</div>
	</div>
	<div class="wherebox_eventpage">
		<div class="whereicon_eventpage">
		</div>
		<div class="where_eventpage">
			<%=	@event.venue%>
			<br />	
			<%=@event.address1%><%=@event.address2%>
			<br />
			<%=@event.city%>, <%= @event.state%>
		</div>
	</div>
	  <div id="map_canvas" class="map_eventpage" style="width: 350px; height: 350px;"></div>
		<div class="socialbox_eventpage">
		<div class="socialicons_eventpage">

<div class="fb-like" data-send="true" data-width="410" data-show-faces="false"></div>

			<a href="https://twitter.com/share" class="twitter-share-button" data-url=<%="http://www.startupthecity.com/events/#{@event.id}"%> data-via="startupthecity" data-lang="en" data-text="I'm attending '<%= @event.title %>'">Tweet</a>




		</div>
	</div>
	<div class="description_eventpage">
	<%=simple_format(@event.description)%>
	</div>
	<div class="submit_button">
		<h1 class="center">
			<%= link_to "Event Page!", "#{@event.url}?ref=startupthecity", :class => "btn btn-large btn-primary"%>
		</h1>
	</div>
</div>

  <div id="map_canvas" style="width: 320px; height: 480px;"></div>
</body>







<!-- <div class="event-title container">
	<div class="row center">
		<b><%= @event.title %></b>
	</div>
</div>
<div class="container">
	<div class="when-box">
		<div class="when-left">
			When
		</div>
		<div class="when-date">
			<%=@event.date.strftime("%B %d, %I:%M%p")%>
		</div>
		<div class="export">
			Export to calendar: Google | Yahoo | Outlook
		</div>
	</div>
	<div class="where-box">
		<div class="where-left">
			Where
		</div>
		<div class="where-address">
			<%=	@event.venue%>
			<br />
			<%=@event.address1%>, 
			<%=@event.address2%>
			<br />
			<%=@event.city%>, <%= @event.state%>, <%= @event.country%>
		</div>
		<div class="map">
		</div>
	</div>
	<div class="description-box">
		<div class="description-left">
			Description
		</div>
		<div class="description-text">
			<%= simple_format(@event.description) %>
		</div>
	</div>
	<div class="submit_button">
		<h1 class="center">
			<%= link_to "JOIN EVENT!", "#{@event.url}?ref=startupthecity", :class => "btn btn-large btn-primary"%>
		</h1>
	</div>
</div>

<img src="https://maps.googleapis.com/maps/api/staticmap?center=<%="#{@event.address1}+#{@event.address2}+#{@event.city}+#{@event.state}".parameterize%>&zoom=13&size=300x300&markers=<%="#{@event.address1}+#{@event.address2}+#{@event.city}+#{@event.state}".parameterize%>&sensor=false">



<a href="http://www.google.com/calendar/event?
action=TEMPLATE
&text=<%="#{@event.title}"%>
&dates=<%="#{@event.date.strftime("%Y%m%dT%H%M%S")}/#{@event.date.strftime("%Y%m%dT%H%M%S")}"%>
&location=<%="#{@event.venue} #{@event.address1}, #{@event.city}, #{@event.state}"%>
&details=<%="http://www.startupthecity.com/events/#{@event.id}"%>
&trp=false
&sprop=LINK TO LMS GIG PAGE
&sprop=name:LEEDS MUSIC SCENE




" target="_blank">Google</a>

Export event to Calendar: <a href="http://www.google.com/calendar/event?
		action=TEMPLATE
		&text=<%="#{@event.title}"%>
		&dates=<%="#{@event.date.strftime("%Y%m%dT%H%M%S")}/#{@event.date.strftime("%Y%m%dT%H%M%S")}"%>
		&location=<%="#{@event.venue} #{@event.address1}, #{@event.city}, #{@event.state}"%>
		&details=<%="http://www.startupthecity.com/events/#{@event.id}"%>
		&trp=false
		&sprop=LINK TO LMS GIG PAGE
		&sprop=name:LEEDS MUSIC SCENE" target="_blank" class="export_eventpage">Google</a>

 -->