<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<meta property="og:title" content="<%= yield(:title) %>" />
<meta property="og:type" content="article" />
<meta property="og:url" content="<%= yield(:url) %>" />
<meta property="og:image" content="http://cloudfront.bostinno.com/wp-content/uploads/2011/04/startupsign.jpg" />
<meta property="og:site_name" content="Site Name" />
<meta property="fb:admins" content="100004860452494" />

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!--Start Google Analytics-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37163488-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!--End Google Analytics-->

</head>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKMKCEMhSI47Ow0ytyObd4785qXzIokuk&sensor=false">
    </script>

<div id="fb-root"></div>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  	<div class="container">
  	<%= link_to "Startup The City", root_path, id: "logo"%>
    <nav>
	    <ul class="nav pull-right">
        <%if user_signed_in? %>
          <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
          </li>
        <%end%>
	      <li>
	      		<div class="btn-group">
  					<a class="btn btn-inverse btn-small dropdown-toggle" data-toggle="dropdown" href="#">
    				<h3><b>Price</b></h3>
  					</a>
  					<ul class="dropdown-menu">
  						<li><h3><b><%=link_to "Any", root_path %></b></h3></li>
    					<li><h3><b><%=link_to "Free", free_path %></b></h3></li>
    					<li><h3><b><%=link_to "$20", twenty_path %></b></h3></li>
    					<li><h3><b><%=link_to "$50", fifty_path %></b></h3></li>
  					</ul>
				</div>
			</li>
	    </ul>
	</nav>
	</div>
  </div>
</div>
<body onload="initialize()">

    <%if notice %>
      <p class="alert"><%= notice %></p>
  <%end%>
  <%if alert %>
      <p class="alert alert-error"><%= alert %></p>
  <%end %>

<!-- LEFT SIDE NAV -->
    <!-- <div id="leftsidenav">
      <a href="https://twitter.com/StartupTheCity" target="_blank" title="Blog" class="tooltip"><div id="leftsidetwitter"></div></a>  
      <a href="https://www.facebook.com/pages/Startup-The-City/458169887580591" target="_blank" title="About" class="tooltip"><div id="leftsidefacebook"></div></a>
    </div> -->
  <!-- END LEFT SIDE NAV -->

		<%= yield %>
</body>

</html>
