<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- 
<meta property="og:title" content="<%= yield(:title) %>" />
<meta property="og:type" content="article" />
<meta property="og:url" content="<%= yield(:url) %>" />
<meta property="og:image" content="http://www.google.com" />
<meta property="og:site_name" content="Site Name" />
<meta property="fb:admins" content="100004860452494" /> -->

</head>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  	<div class="container">
  	<%= link_to "Startup The City", root_path, id: "logo"%>
    <nav>
	    <ul class="nav pull-right">
	      <li>
	      		<div class="btn-group">
  					<a class="btn btn-primary btn-small dropdown-toggle" data-toggle="dropdown" href="#">
    				<h3><b>Price</b></h3>
  					</a>
  					<ul class="dropdown-menu">
  						<li><h3><b><%=link_to "Any", root_path %></b></h3></li>
    					<li><h3><b><%=link_to "Free", free_path %></b></h3></li>
    					<li><h3><b><%=link_to "$20", twenty_path %></b></h3></li>
    					<li><h3><b><%=link_to "$50", fifty_path %></b></h3></li>
  					</ul>
				</div>
			</li>
	    </ul>
	</nav>
	</div>
  </div>
</div>
<body>

<!-- LEFT SIDE NAV -->
    <!-- <div id="leftsidenav">
      <a href="https://twitter.com/StartupTheCity" target="_blank" title="Blog" class="tooltip"><div id="leftsidetwitter"></div></a>  
      <a href="https://www.facebook.com/pages/Startup-The-City/458169887580591" target="_blank" title="About" class="tooltip"><div id="leftsidefacebook"></div></a>
    </div> -->
  <!-- END LEFT SIDE NAV -->

	<div id="page">
		<%= yield %>
	</div>
</body>
</html>
